<div class="tableContentBg">
  <div class="tabNavContainer">
    <h1>New Database</h1>
  </div>

  <div class="tabContentSeparator"></div>
  <%= render 'form' %>
</div>
<%= link_to 'Back', database1s_path %>
