//alert("test.js.erb");
//alert ("<%= @ip_list %>");

$('#iproute').val('<%= @ip_list %>');




//console.log("Hello");
<!--logger.debug "This is the js file"%>-->
//alert('Hello Rails');

//alert ("test.js.erb");
//alert (" @iproutes %>");

//$('#iproute').val(' @iproutes %>');






//$('#IP').append('<option>'+$('#src_ip_input').val()+'</option>');



