<div class="tableContentBg">
  <div class="tabNavContainer">

  <h1>Editing project</h1>
</div>
  <div class="tabNavContentContainer">
<%= render 'form' %>
</div>
</div>
<%= link_to 'Back', projects_path %>
