<div class="tableContentBg">
  <div class="tabNavContainer">

    <h1>New Role</h1>

  </div>
  <div class="tabContentSeparator"></div>
  <%= render 'form' %>
</div>
<%= link_to 'Back', roles_path %>
